@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400&display=swap');

* {
    color: rgb(240, 240, 240);
    font-family: 'Inter Tight', sans-serif;
    font-size: 35px;
    font-weight: 400px;
}

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: burlywood;
}

h1 {
    padding: 10px;
    font-size: 1.25rem;
}

.departures {
    background-color: rgb(201, 132, 116);
    border-radius: 10px;
    padding: 10px;
}

.departures table {
    background-color: #c0aaa6;
    text-align: left;
    width: 100%;
}

.departures table div {
    border: solid 1px rgb(60, 55, 55);
    background-color: rgb(40, 39, 39);
    min-width: 20px;
    height: 40px;
    float: left;
    font-weight: 100px;
}

.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

#time {
    width: 200px;
}

#destination {
    width: 650px;
}

#flight {
    width: 250px;
}

#gate {
    width: 135px;
}

#remarks {
    width: 260px;
}